# yaml-language-server: $schema=https://github.com/epics-containers/ec-helm-charts/releases/download/4.0.0/argocd-apps.schema.json

# This file configures an ArgoCD app of apps that represent a
# group of beamline or accelerator IOCs and services. The configuration of the
# services are in the separate repo indicated by repoURL.

# This repostory only controls which services and which versions of those
# services should be running on the cluster. It is recommended that this repo
# be updated by a CI/CD pipeline or configuration tools only.

project: p46-beamline
destination:
  name: pollux
  namespace: p46-beamline
source:
  repoURL: https://github.com/epics-containers/p46-services
  targetRevision: main

services:
  # Each item is of the form:
  #   service: service name as it appears in K8S (statefulset/deployment name)
  #     targetRevision: optional override for targetRevision above
  #     repoURL: optional override for git repo to source the helm chart from
  #            the path is always services/<service> within that repo
  #     removed: set to true to remove the service from the cluster
  #     enabled: set to false to stop a service

  # Common services ############################################################
  p46-epics-pvcs:
  p46-epics-opis:
  p46-proxy:

  # daq services ###############################################################
  p46-rabbitmq:
  p46-blueapi:
    targetRevision: mountable-scratch
  p46-nexus:
    targetRevision: 4.1.3-a1
  p46-tiled:
  p46-glazed:

  # IOCs #######################################################################
  bl46p-ea-panda-01:
    enabled: true
    targetRevision: main
  bl46p-ea-dcam-01:
  bl46p-ea-dcam-02:
  bl46p-mo-ioc-01:
